<%= form_with model: group, local: true do |f| %>
  <div class="form-group">
    <%= f.label :コミュニティ名 %> <i class="fa-solid fa-pen-clip"></i>
    <%= f.text_field :name, placeholder:"コミュニティ名をここに", autofocus: true, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :コミュニティ紹介 %> <i class="fa-solid fa-pen-clip"></i>
    <%= f.text_area :introduction, placeholder:"コミュニティ紹介をここに", class: 'form-control' %>
  </div>

   <div class="form-group">
    <%= f.label :tag_name, "タグ(半角スペースで複数タグ付けできます)" %> <i class="fa-solid fa-pen-clip"></i>
    <%#= fields_for(@tags&.join(' ')) do |tags| %>

    <%#= tags.text_field :tag_name, placeholder:"タグをここに", class: 'form-control', value: @tags&.join(' ')  %>
    <%# end %>
    <%= f.text_field :tag_name, placeholder:"タグをここに", class: 'form-control', value: @tags&.join(' ')  %>
   </div>

  <div class="form-group">
    <%= f.label :コミュニティ画像 %>
    <%= f.file_field :image, class: 'form-control-file', accept: 'image/png,image/gif,image/jpeg' %>
    <%#= f.file_field :image, class: 'form-control-file', accept: 'image/jpg' %>
  </div>

  <div class="form-group">
    <%= f.submit class: 'btn btn-outline-warning' %>
  </div>
<% end %>