<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-4'>
      <h2><%= @user.name %>さんの<br>会員情報</h2>
      <%= render 'public/users/info', user: @user %>
      <h2 class="mt-3"><%= @user.name %>さんの<br>参加中コミュニティ</h2>
      <div id="paginate-groups">
        <%= render 'public/users/user_groups', user_groups: @user_groups %>
      </div>
    </div>
    <div class='col-md-8'>
      <h2>
        コミュニティ一覧
        <%= link_to new_group_path, class: "btn btn-outline-warning ml-5" do %>
          <i class="fa-solid fa-people-group"></i>
        <% end %>
      </h2>
      <%= render 'index', groups: @groups %>
    </div>
  </div>
</div>
