<div class='container'>
  <div class='row'>
    <div class='col-md-8 offset-md-1'>
  		<h2>コミュニティ詳細</h2>
      <div class="card", style="max-width: 50rem;", id="group_<%= @group.id %>">
        <%= image_tag @group.get_image(100, 100), class: "card-image-top" %>
        <div class="card-body">
          <h4 class="card-title"><%= @group.name %></h4>
          <p class="card-text"><%= @group.introduction %></p>
          <% if @group.owner_id == current_user.id %>
            <%= link_to "編集", edit_group_path(@group.id), class: "btn btn-outline-success" %>
            <!--ここにメール作成ボタンも追加-->
          <% end %>
        </div>
        <ul class="list-group list-group-flush group-member">
          <%= render 'member', group: @group %>
        </ul>
        <div class="card-body join-btn">
          <%= render 'join_btn', group: @group %>
        </div>
      </div>
    </div>
  </div>
</div>