<div class="container">
  <div class="row justify-content-end mb-1">
    <%#= render 'public/searches/form' %>
    <%= render 'public/searches/genre_form' %>
  </div>
</div>
<div class="card-deck">
  <!--countの初期値0-->
  <% count = 0 %>
  <!--each_with_indexで、0.1.2...とcardを繰り返す-->
  <% posts.each_with_index do |post, index| %>
   <% unless post.user.is_deleted %>
    <!--<div class="card w-200 mx-auto mt-4 h-500 shadow-lg">-->
    <div class="card mt-1 mr-2 ml-1 px-0 shadow-lg col-4">
      <%= image_tag post.get_post_image(300, 300), class: "card-img-top index-img" %>
      <div class="card-body">
        <h5 class="card-title">
          <%= link_to post_path(post.id), class: "text-dark",data: {"turbolinks"=>false} do %>
            <strong><i class="fa-solid fa-feather"></i><span> <%= post.title.truncate(9) %></span></strong>
          <% end %>
        </h5>
        <h6 id="post_<%= post.id %>"><%= post.created_at.strftime('%Y/%m/%d') %>
          <br><span class="comments-count">コメント数:<%= post.post_comments.count %></span>
          <br><span class="favorite-btn"><%= render "public/favorites/btn", post: post %></span>
        </h6>
        <p class="card-text">説明:<%= post.body.truncate(10) %></p>
        <span><i class="fas fa-user"></i> By<%= image_tag post.user.get_profile_image(30,30), class:"rounded-circle"; %><%= post.user.name %></span>
      </div>
    </div>
    <!--count = 投稿 + 1(投稿数1の場合は、index = 0)-->
   <% count = index + 1 %>
   <% end %>
  <% end %>
  <!--例えば投稿数1の場合は、count = 1になる。countが3でないとき(true)は、?の(3-(count%3))をする。countが3の時(false)は、0を返す。-->
  <!--(3-(count%3))は、例えばcount = 1の時は、3-(1 % 3)。(1 % 3)は、０余り1と言う意味。よって(3-(count%3))は3-1なので、2を返す。-->
  <!--countが7(投稿数が7)でも、count % 3は、余りを返すので、count % 3は1-->
  <!--↓三項演算子-->
  <% col = count != 3 ? (3-(count%3)) : 0 %>
  <!--上記の結果の場合、for文で1から2までを繰り返し、その文col-4のdivタグを挿入する-->
  <% for num in 1..col %>
    <!--<div class="mt-1 mr-2 ml-1 mb-1 px-0 col-4"></div>-->
    <div class="col-4"></div>
  <% end %>
</div>

<%= paginate posts, :param_name => 'posts_page', remote: true %>

<style>
  .pagination {
    text-align: center;
    width: 100%;
    margin: 20px auto;
    max-width: 200px;
  }
  .page-item.active .page-link {
    z-index: 3;
    color: #000;
    background-color: #FFFF66;
    border-color: #FFFF00;
  }

  .card {
    border-radius: 10px;
  }
</style>






<!--<%# posts.each do |post| %>-->
<!-- <%# unless post.user.is_deleted %>-->
  <!--<div class="card w-200 mx-auto mt-4 h-500 shadow-lg">-->
<!--  <div class="card mb-3 shadow-lg" style="max-width: 650px;">-->
<!--    <div class="row no-gutters">-->
<!--      <div class="col-md-6">-->
<!--         <%#= image_tag post.get_post_image(200, 200), class: "card-image-top w-100 h-100" %>-->
<!--      </div>-->
<!--      <div class="col-md-6">-->
<!--        <div class="card-body text-center">-->
<!--          <h5 class="card-title">-->
<!--            <%#= link_to post_path(post.id), class: "text-dark" do %>-->
<!--              <strong><i class="far fa-flag"></i><span> <%#= post.title %></span></strong>-->
<!--            <%# end %>-->
<!--          </h5>-->
<!--          <p class="card-text" id="post_<%#= post.id %>">-->
<!--            <%#= post.created_at.strftime('%Y/%m/%d') %>-->
<!--            <br><span class="comments-count">コメント数:<%#= post.post_comments.count %></span>-->
<!--            <br><span class="favorite-btn"><%#= render "public/favorites/btn", post: post %></span>-->
<!--          </p>-->
<!--          <p class="card-text">-->
<!--            <small class="text-muted">説明:<%#= post.body %></small>-->
<!--          </p>-->
<!--          <p class="card-text"><i class="fas fa-user"></i> By<%#= image_tag post.user.get_profile_image(30,30), class:"rounded-circle"; %><%#= post.user.name %></p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!-- <%# end %>-->
<!--<%# end %>-->