 <% chats.each do |chat| %>
    <% if chat.user_id == current_user.id %>
      <div class="chat-face" style="text-align: right;">
        <%= image_tag chat.user.get_profile_image(50, 50), class: "rounded-circle"; %>
      </div>
      <p style="text-align: right;">
        <strong><span class="chat-message p-1"><%= chat.message %></span></strong><br>
        <span class="date"><%= chat.created_at.strftime("%Y-%m-%d %H:%M") %></span>
      </p>
    <% else %>
      <div class="chat-face" style="text-align: left;">
        <%= image_tag chat.user.get_profile_image(50, 50), class: "rounded-circle"; %>
      </div>
      <p style="text-align: left;">
        <strong><span class="chat-message p-1"><%= chat.message %></span></strong><br>
        <span class="date"><%= chat.created_at.strftime("%Y-%m-%d %H:%M") %></span>
      </p>
    <% end %>
  <% end %>
  <style>
    .chat-message {
      background: #FFFFBB;
      border-radius: 10px;
    }

    .date {
      color: #CCCCCC;
    }
  /*  nav ul.pagination {*/
  /*    display: none;*/
  /*  }*/
  </style>

 <%# = paginate chats %>