<!--tab=2(最新の一つの方)-->
<tbody>
  <!--<%# byebug %>-->
  <% announcements.each do |announcement| %>
  <tr>
    <td>
      <li style="list-style: none;">
        <% if announcement.user_id == current_user.id %>
          今日の朝活は、<strong><%= link_to announcement.announcement, edit_user_announcement_path(announcement.user, announcement.id) %></strong>です! <br><宣言日:<%= announcement.created_at.strftime('%Y/%m/%d') %>>
        <% else %>
          今日の朝活は、<strong><%= announcement.announcement %></strong>です! <br><宣言日:<%= announcement.created_at.strftime('%Y/%m/%d') %>>
        <% end %>
        <% if announcement.achieve_status == "nonachieve" %>
           <%= link_to edit_user_announcement_path(announcement.user, announcement.id) do %>
            <span class="btn btn-outline-danger"><%= announcement.achieve_status_i18n %></span>
           <% end %>
        <% else %>
          <%= link_to edit_user_announcement_path(announcement.user, announcement.id) do %>
            <span class="btn btn-outline-success"><%= announcement.achieve_status_i18n %>済み</span>
          <% end %>
        <% end %>
      </li>
    </td>
  </tr>
  <% end %>
</tbody>
<!--<%#= paginate announcements %>-->
<!--<style>-->
<!--  .pagination {-->
<!--    display: flex;-->
<!--    justify-content: center;-->
<!--    align-items: center;-->
<!--  }-->
<!--</style>-->