<!--tab = 3(過去の一覧の方)-->
  <div class="row">
    <!--<%# byebug %>-->
     <% announcements.each do |announcement| %>
      <% if announcement.user_id == current_user.id %>
        <div class="col-lg-6 col-xs-12">
          今日の朝活は、<strong><%= link_to announcement.announcement, edit_user_announcement_path(announcement.user, announcement.id) %></strong>です!
        </div>
        <div class="col-lg-6 col-xs-12"><宣言日:<%= announcement.updated_at.strftime('%Y/%m/%d') %>>
        <% else %>

        <div class="col-lg-6 col-xs-12">
          今日の朝活は、<strong><%= announcement.announcement %></strong>です!
        </div>

        <div class="col-lg-6 col-xs-12"><宣言日:<%= announcement.updated_at.strftime('%Y/%m/%d') %>>
        <% end %>
        <% if announcement.achieve_status == "nonachieve" %>
          <span class="text-danger">(<%= announcement.achieve_status_i18n %>)</span>
        <% else %>
          <span class="text-success">(<%= announcement.achieve_status_i18n %>済み)</span>
      <% end %>
    </div>
    <% end %>
  </div>

  <style>
    span nav ul.pagination {
      display: none;
    }

    .pagination {
      text-align: center;
      width: 100%;
      margin: 20px auto;
      max-width: 200px;
    }
    .page-item.active .page-link {
      z-index: 3;
      color: #000;
      background-color: #FFFF66;
      border-color: #FFFF00;
    }
  </style>

  <span><%= paginate announcements, :param_name => 'offset_announce_page' %></span>

