<% if user.id == current_user.id %>
  <%= link_to '宣言する!', new_user_announcement_path(user.id), class: 'btn btn-outline-warning' %>
<% end %>
<br><h4 class="text-center"><nobr>今日の朝活は、<%= render 'public/announcements/announcement', announcements: @announcements_latest1 %>です!</nobr></h4>
<%= month_calendar events: announcements do |date, announcements| %>
  <%= date.day %>

  <% announcements.each do |announcement| %>
    <div>
      <% unless announcement.achieve_status == "nonachieve" %>
        <i class="fa-solid fa-trophy"><%= announcement.announcement %></i>
      <% end %>
    </div>
  <% end %>
<% end %>