<div class='container'>
  <div class='row no-gutters'>
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">
    <h2 class="text-center text-dark bg-light p-4 mb-0">通報 <i class="fa-solid fa-triangle-exclamation"></i></h2>
    <div class="form-body bg-light p-4">
    <%= form_with model: [@user, @report] do |f| %>
      <%= render 'layouts/errors', obj: @report %>
      <!--<div class="form-group">-->
      <!--  <%#= f.label :post_image, "投稿写真" %>-->
        <%#= f.file_field :post_image, class: "form-control-file user_image", accept: 'image/jpg' %>
      <!--  <%#= f.file_field :post_image, class: "form-control-file user_image", accept: 'image/png,image/gif,image/jpeg' %>-->
      <!--</div>-->
      <div class="form-group">
        <%= f.label :reason, "#{@user.name}さんを通報する理由" %> <i class="fa-solid fa-pen-clip"></i>
        <%= f.text_area :reason, placeholder:"通報理由をここに", autofocus: true, rows: '3', class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.submit '通報する', class: 'btn btn-outline-danger' %>
      </div>
    <% end %>
    </div>
    </div>
  </div>
</div>

<style>
  .fa-triangle-exclamation {
    color: #FFD700;
  }

</style>