<!--dateを繰り返している。-->
<!--もし、eventモデルを作るなら、:start_timeカラムがあるので、その日に始まるイベントを表示できる。-->
<!--https://qiita.com/AKI3/items/109d54a35c98328d9155-->
<!--https://qiita.com/YmBIgo/items/54235db00bde93ab45fc-->
<!--eventsに変数を渡す!-->
<div class="text-center">
  <% if user.id == current_user.id %>
    <%= link_to '宣言する!', new_user_announcement_path(user.id), class: 'btn btn-outline-warning mb-2' %>
  <% end %>
</div>
<h4 class="text-center">
  <% if announcements.exists? %>
    <%= render 'public/announcements/announcement', announcements: @announcements_latest1 %>
  <% else %>
    <% if user.id == current_user.id %>
      <strong><i class="fa-solid fa-square-arrow-up-right"></i> 朝活を宣言してみましょう!</strong>
    <% else %>
      <div class="text-center">
        <span class="font-weight-bold">朝活宣言はまだありません</span>
      </div>
    <% end %>
  <% end %>
</h4>
<%= month_calendar events: announcements do |date, announcements| %>
  <%= date.day %>

  <% announcements.each do |announcement| %>
    <div>
      <% unless announcement.achieve_status == "nonachieve" %>
        <i class="fa-solid fa-trophy"><%= announcement.announcement %></i>
      <% end %>
    </div>
  <% end %>
<% end %>
