<table class="table table-borderless">
  <thead>
    <tr>
      <th class="text-center">名前</th>
      <th class="text-center">意気込み</th>
      <!--<th class="text-center">趣味</th>-->
      <th></th>
      <th></th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% users.each do |user| %>
      <tr class="hover-color shadow-sm">
        <td class="text-center">
          <%= link_to user_path(user.id) do %>
            <%= image_tag user.get_profile_image(50, 50), class:"rounded-circle"; %>
            <%= user.name.truncate(10) %>
          <% end %>
        </td>
        <td class="text-center">
          <%= user.introduction %>
        </td>
        <!--<td class="text-center">-->
        <!--  <%#= user.hobby %>-->
        <!--</td>-->
        <td class="text-center">
          <%= render "public/relationships/btn", user: user %>
        </td>
        <!--<td class="text-center">-->
        <!--  <%#= link_to "Show", user_path(user.id), class: 'btn btn-outline-warning' %>-->
        <!--</td>-->
        <td class="text-center">
          <% if current_user != user %>
            <span><%= link_to "通報", new_user_report_path(user), class: "btn btn-sm btn-outline-danger" %></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>

</table>
<%= paginate users, :param_name => 'users_page' %>

<style>
  .pagination {
    text-align: center;
    width: 100%;
    margin: 20px auto;
    max-width: 200px;
  }
  .page-item.active .page-link {
    z-index: 3;
    color: #000;
    background-color: #FFFF66;
    border-color: #FFFF00;
  }

  .hover-color {
    background-color: #FFFFFF;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all  0.3s ease;
  }

  .hover-color:hover {
    background-color: #dcdcdc;
    /*cursor: pointer;*/
  }
</style>