<table class='table table-borderless'>
  <tr><%= image_tag user.get_profile_image(100, 100) %></tr>
  <tr>
	  <th>ユーザー名</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>自己紹介</th>
	  <th><%= user.introduction %></th>
  </tr>
  <tr>
    <th>趣味</th>
    <th><%= user.hobby %></th>
  </tr>
  <tr>
    <th>フォロー中</th>
    <th><%= link_to user.followings.count, user_followings_path(user) %>人</th>
  </tr>
  <tr>
    <th>フォロワー</th>
    <th><%= link_to user.followers.count, user_followers_path(user) %>人</th>
  </tr>

</table>

<div class='row d-flex align-items-center justify-content-center'>
  <%= link_to edit_user_path(user.id), class: "btn btn-outline-warning mr-2" do %>
    <i class="fa-solid fa-user-pen"></i>
  <% end %>
  <%= link_to new_group_path, class: "btn btn-outline-warning mr-2" do %>
    <i class="fa-solid fa-people-group"></i>
  <% end %>
  <%= link_to new_post_path, class: 'btn btn-outline-warning' do %>
    <i class="fa-solid fa-pen-to-square"></i>
  <% end %>
  <%= link_to favorites_user_path(user), class: 'btn btn-outline-warning ml-2' do %>
    <i class="fas fa-heart" aria-hidden="true" style="color: red;"></i>
  <% end %>
  <% if current_user != user %>
    <span class="ml-2"><%= render "public/relationships/btn", user: user %></span>
  <% end %>
</div>

<!--<div class='row'>-->
<!--  <%# if current_user != user %>-->
<!--    <td><%#= render "public/relationships/btn", user: user %></td>-->
<!--  <%# end %>-->
<!--</div>-->