<table class='table table-borderless'>
  <tr><%= image_tag user.get_profile_image(100, 100) %></tr>
  <tr>
	  <th>ユーザー名</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>自己紹介</th>
	  <th><%= user.introduction %></th>
  </tr>
  <tr>
    <th>趣味</th>
    <th><%= user.hobby %></th>
  </tr>

</table>

<div class='row d-flex align-items-center justify-content-center'>
  <%= link_to edit_user_path(user.id), class: "btn btn-outline-warning mr-2" do %>
    <i class="fa-solid fa-user-pen"></i>
  <% end %>
  <%= link_to new_post_path, class: 'btn btn-outline-warning' do %>
    <i class="fa-solid fa-pen-to-square"></i>
  <% end %>
  <%= link_to favorites_user_path(user), class: 'btn btn-outline-warning ml-2' do %>
    <i class="fas fa-heart" aria-hidden="true" style="color: red;"></i>
  <% end %>
</div>