<div class="card-deck">
  <% count = 0 %>
  <% posts.each_with_index do |post, index| %>
   <% unless post.user.is_deleted %>
    <div class="card mt-1 mr-2 ml-1 px-0 hover-color shadow-lg col-4">
      <%= image_tag post.get_post_image(300, 300), class: "card-img-top index-img" %>
      <div class="card-body">
        <h5 class="card-title">
          <%= link_to post_path(post.id), class: "text-dark" do %>
            <strong>
              <i class="fa-solid fa-feather"></i>
              <span>
                <%= post.title.truncate(9) %>
                <% if post.status == "private" %>
                  <i class="fa-solid fa-lock"></i>
                <% end %>
              </span>
            </strong>
          <% end %>
        </h5>
        <h6 id="post_<%= post.id %>"><%= post.created_at.strftime('%Y/%m/%d') %>
          <br><span class="comments-count">コメント数:<%= post.post_comments.count %></span>
          <br><span class="favorite-btn"><%= render "public/favorites/btn", post: post %></span>
        </h6>
        <p class="card-text">説明:<%= post.body.truncate(10) %></p>
        <span><i class="fas fa-user"></i> By<%= image_tag post.user.get_profile_image(30,30), class:"rounded-circle"; %><%= post.user.name.truncate(10) %></span>
      </div>
    </div>
    <% count = index + 1 %>
   <% end %>
  <% end %>
  <% col = count != 3 ? (3-(count%3)) : 0 %>
  <% for num in 1..col %>
    <div class="col-4"></div>
  <% end %>
</div>
<%= paginate posts, :param_name => 'private_posts_page', remote: true %>
<style>
  .pagination {
    text-align: center;
    width: 100%;
    margin: 20px auto;
    max-width: 200px;
  }
  .page-item.active .page-link {
    z-index: 3;
    color: #000;
    background-color: #FFFF66;
    border-color: #FFFF00;
  }

  .card {
    border-radius: 10px;
  }

  .hover-color {
    background-color: #FFFFFF;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all  0.3s ease;
  }

  .hover-color:hover {
    background-color: #EEEEEE;
    /*cursor: pointer;*/
  }
</style>