<table class='table table-borderless'>
  <p>(作成したコミュニティ: <i class="fa-solid fa-medal"></i>)</p>
  <thead>
    <tr>
      <th></th>
      <th>コミュニティ名</th>
      <th>メンバー数</th>
      <th colspan="4"></th>
    </tr>
  </thead>
  <%# @user_groups = user.groups.page(params[:user_groups_page]).per(3) %>
  <tbody>
    <% user_groups.each do |group| %>
    <% @owner = User.find(group.owner_id) %>
      <tr class="hover-color">
        <td class="text-center"><%= image_tag group.get_image(50, 50), class:"rounded-circle"; %></td>
        <td class="text-center"><%= link_to group.name.truncate(9), group_path(group.id) %></td>
        <td class="text-center">
          <% if @owner == @user %>
            <%= group.group_users.count %>人<i class="fa-solid fa-medal"></i>
          <% else %>
            <%= group.group_users.count %>人
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<style>
  .pagination {
    text-align: center;
    width: 100%;
    margin: 20px auto;
    max-width: 70px;
  }
  .page-item.active .page-link {
    z-index: 3;
    color: #000;
    background-color: #FFFF66;
    border-color: #FFFF00;
  }

  .hover-color {
    background-color: #FFFFFF;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all  0.3s ease;
  }

  .hover-color:hover {
    background-color: #EEEEEE;
    /*cursor: pointer;*/
  }

  .fa-medal {
    color: #800000;
  }
</style>


<%= paginate user_groups, :param_name => 'user_groups_page', remote: true %>

