<!--<div class="text-right mr-5">-->
<!--  <%#= link_to new_post_path, class: 'btn btn-outline-warning' do %>-->
<!--    <i class="fa-solid fa-pen-to-square"></i>-->
<!--  <%# end %>-->
<!--  <%#= link_to "いいねした投稿", favorites_user_path(@user) %>-->
<!--</div>-->
<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-4'>
      <h2><%= @user.name %>さんの<br>会員情報</h2>
      <%= render 'info', user: @user %>
      <h2 class="mt-3"><%= @user.name %>さんの<br>参加中コミュニティ</h2>
      <%= render 'user_groups', user: @user %>
    </div>
    <div class='col-md-8'>
      <!--<div class="border rounded-circle p-2 text-center">-->
      <!--  <br><h5 class="text-center"><nobr><%#= render 'public/announcements/announcement', announcements: @announcements_latest1 %></nobr></h5>-->
      <!--  <div class="text-center">-->
      <!--    <%# if @user.id == current_user.id %>-->
      <!--      <%#= link_to '宣言する!', new_user_announcement_path(@user.id), class: 'btn btn-outline-warning' %>-->
      <!--    <%# end %>-->
      <!--  </div>-->
      <!--</div>-->

      <div class="wrap mt-3 mb-5">
        <ul id="tab-menu">
          <li><a href="#tab1" class="active"><%= @user.name %>さんの投稿</a></li>
          <li><a href="#tab2" class="">朝活達成状況</a></li>
          <li><a href="#tab3" class="">これまでの朝活宣言</a></li>
        </ul>

        <div id="tab-contents">
          <div id="tab1" class="tab">
              <!--<h2><＃= @user.name %>さんの投稿</h2>-->
              <%= render 'public/posts/index',posts: @posts %>
          </div>
          <div id="tab2" class="tab">
              <div id="calendar">
                <%= render "public/users/calendar", announcements: @announcements, user: @user %>
              </div>
          </div>
          <div id="tab3" class="tab">
            <%= render 'public/announcements/announcetab', announcements: @announcements_offset1 %>
          </div>
        </div>
      </div>

      <!--<h2><%#= @user.name %>さんの投稿</h2>-->
      <!--<%#= render 'public/posts/index',posts: @posts %>-->
    </div>
  </div>
</div>
