<!DOCTYPE html>
<html>
  <head>
    <title>PfAsasapo</title>
    <script src="https://kit.fontawesome.com/166cf5cd50.js" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100" id="pageTop">
    <%= render "layouts/header" %>
    <!--<%# unless notice.nil? %>-->
    <!--  <p id="notice"><%#= notice %></p>-->
    <!--<%# end %>-->


    <% @path = request.fullpath %>
    <% if user_signed_in? && @path != "/" %>
      <div class="container">
        <div class="row justify-content-start mt-1 mb-2">
          <%= render 'public/searches/form' %>
          <!--<%#= render 'public/searches/genre_form' %>-->
        </div>
      </div>
    <% end %>

    <% unless notice.nil? %>
     <div class="flash-title">
        <h5 id="notice"><%= notice %></h5>
     </div>
    <% end %>
    <%= yield %>
    <%= render "layouts/footer" %>
  </body>
</html>


<script>
  // $(document).on('turbolinks:load', function () {
    $(function(){
      $(".flash-title").fadeOut(2200);
    });
  // });

//ページ読み込み後にページの最上部へ移動させる
    onload = function() {
      location.href = "#pageTop";
    }

</script>

<style>
 /*header {*/
 /*  z-index: 1;*/
 /*}*/
/*z-indexはposition: absolute;と一緒に使用する。*/
 .flash-title {
   z-index: 7;
   position: absolute;
   top: 100px;
   width: 100%;
   /*margin: 0 auto;*/
   /*text-align: center;*/
   /*margin-left: 100px;*/
   height: 66px;
   background-color: #00CCFF;
   display: table;
 }

 .flash-title h5 {
   display: inline-block;
   text-align: center;
   /*width: 80%;*/
   margin: 0 auto;
   /*max-width: 500px;*/
   display: table-cell;
   vertical-align: middle;
 }
</style>
